<div ng-controller="MainController">
    <navbarheader></navbarheader>
</div>
<div ng-controller="CheckoutController">
    <div class="row-fluid">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Sua Conta</div>
                <div class="pull-right">
                    <span class="badge badge-warning">Você possui {{quantidadeCheckout1}} itens em seu carrinho</span>
                </div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="alert alert-info text-center">Entre com seu endereço de email</div>
                    <div class="offset2">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="email">Email</label>
                                <div class="controls">
                                    <input type="text" required id="email" ng-model="email" placeholder="Informe seu Email"
                                        ng-style="{'width': '275px'}">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" ng-click="CheckoutController.validEmail(email)" class="btn btn-primary offset2">Prosseguir para Checkout</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>