<div ng-controller="MainController">
    <navbarheader></navbarheader>
</div>
<div ng-controller="Checkout_3_Controller">
    <div class="row-fluid">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Confirmação de Pedido</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="alert alert-success text-center">Uma confirmação de pedido foi enviada para seu email.<br/> Obrigado por comprar na Nois Book Store!</div>
                    <p>
                        <ul>
                            <li><b>Número do Pedido:</b> 1002212</li>
                            <li><b>Endereço de Envio:</b> Rua do Imigrantes, nº 345 - São Paulo - SP</li><br>
                        </ul>
                    </p>

                    <p>
                        <table class="table table-hover table-striped">
                            <tr>
                                <th>Titulo</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                                <th>Total</th>
                            </tr>
                            <tr>
                                <td>Titulo do Livro</td>
                                <td>2</td>
                                <td>$49.90</td>
                                <td>$99.80</td>
                            </tr>
                            <tr>
                                <th>Frete</th>
                                <th colspan='2'></th>
                                <th>$8.00</th>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th colspan='2'></th>
                                <th>$107.80</th>
                            </tr>
                        </table>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>