<div ng-controller="MainController">
	<navbarheader></navbarheader>
</div>

<div ng-controller="LivroController">
	<div ng-init="LivroController.getLivro()">
		        <div class="row-fluid">
            <div class="span12">
                <h1>{{livro.title}}</h1>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8">
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">Imagens do Produto</div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span3">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="main-image">
                                        <a href="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{livro.ISBN}}.01.LZZZZZZZ.jpg">
                                            <img src='https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{livro.ISBN}}.01.MZZZZZZZ.jpg' alt="Capa do livro {{livro.title}}"/>
                                        </a>
										<br><br>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">{{livro.title}}</div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                                <dl class="dl-horizontal left">
                                  <dt>ISBN:</dt><dd>{{livro.ISBN}}</dd>
                                  <dt>Preço</dt><dd>{{livro.price | currency:"R$" }}</dd>
                                  <dt>Editora:</dt> <dd>{{livro.publisher}}</dd>
                                  <dt>Data Publicação:</dt> <dd>{{livro.pubdate}}</dd>
                                  <dt>Edição:</dt> <dd>{{livro.edition}}</dd>
                                  <dt>Páginas:</dt> <dd>{{livro.pages}}</dd>
                                </dl>
                            </p>
                            
                            <form class="form-inline">
                              <div class="control-group">
                                    <button type="submit" class="btn btn-danger">Adicionar ao Carrinho</button>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="block">
                    <div class="navbar navbar-inner block-header navbar-no-padding">
                        <ul class="nav">
                          <li><a href="#description" data-toggle="tab">Descrição</a></li>
                        </ul>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <div class="tab-content">
                              <div class="tab-pane active" id="description">
                                  <p ng-bind-html="livro.description"></p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>



