<div ng-controller="MainController">
  <navbarheader></navbarheader>
</div>
<div ng-controller="LivroController">
  <span ng-init="LivroController.getCarrinho()">
    <div class="row-fluid">
      <div class="span12">
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">Meu Carrinho</div>
          </div>
          <div class="block-content collapse in">
            <div class="span12">
              <table class="table table-striped table-hover">
                <tr>
                  <th>Livro</th>
                  <th>Titulo</th>
                  <th>Preço</th>
                  <th>Quantidade</th>
                  <th>Total</th>
                </tr>
                <tr ng-repeat="livro in cart.bookList">
                  <td class="span1">
                    <a href="#/listar/livro/{{livro.title}}">
                      <img alt="300x200" src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{livro.isbn}}.01.THUMBZZZ.jpg"
                        alt="Capa do Livro {{livro.title}}">
                    </a>
                  </td>
                  <td valign="middle"class="span5">
                    <a href='#'><h5>{{livro.title}}</h5></a>

                  </td>
                  <td class="span2"><h5>{{livro.price | currency:"R$"}}</h5></td>
                  <td class="span2">
                    <div class="row-fluid">
                      <div class="span2">
                        <h4 ng-style="{'color':'red'}">{{livro.qty}}</h4>
                      </div>
                      <div class="span8">
                        <a ng-click="LivroController.atualizaQuantidade(livro.isbn, true)" class="btn btn-primary btn-mini"><i class="icon-plus icon-white"></i> Adicionar</a>
                        <p></p>
                        <a ng-click="LivroController.atualizaQuantidade(livro.isbn, false)" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> Remover</a>
                      </div>
                    </div>
                  </td>
                  <td class="span1"><h5>{{livro.total | currency:"R$"}}</h5></td>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th><h4>Sub-Total:</h4></th>
                  <th><h5 ng-style="{'color':'red'}">{{cart.subTot | currency:"R$"}}</h5></th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th><h4>Frete:</h4></th>
                  <th><h5 ng-style="{'color':'red'}">{{cart.shipping | currency:"R$"}}</h5></th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th><h4>Total a Pagar:</h4></th>
                  <th><h5 ng-style="{'color':'red'}">{{cart.total | currency:"R$"}}</h5></th>
                </tr>
              </table>
              <hr />
              <div class="row-fluid">
                <div class="span6">
                </div>
                <div class="span6">
                  <div class="pull-right">
                    <a href="#/checkout01/" type="button" class="btn btn-success">Prosseguir para Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</span>
</div>