<div ng-controller="MainController">
    <navbarheader></navbarheader>
</div>

<div class="row-fluid" ng-controller="LivroController">
    <div class="span12">
        <h1>Sobre Nos</h1>
        <div class="thumbnail content-white">
            <div class="caption">
                <p>Lorem ipsum dolor sit amet, eu vix delicata iudicabit, vix te dolore interesset signiferumque. Sea putent
                    labore ocurreret an, ei aliquando moderatius nec, ut est perfecto voluptatum. Cu graeci gubergren cum.
                    In pri efficiendi vituperatoribus. Pri tota expetenda ocurreret no, principes philosophia usu id, eu
                    dicit prompta vis.
                </p>                
            </div>
        </div>
    </div>
</div>