<div ng-controller="MainController">
    <navbarheader></navbarheader>
</div>

<div class="row-fluid" ng-controller="LivroController">
    <div class="span12">
        <h1>Sobre Este Site</h1>
        <div class="thumbnail content-white">
            <div class="caption" style="font-size: 16px">
                <p>Nois Book Store foi desenvolvida utilizando as seguintes tecnologias:
                    <ul>
                        <li>HTML 5</li>
                        <li>CSS 3</li>
                        <li>Bootstrap v.2.3.2</li>
                        <li>PHP 7</li>
                        <li>AngularJS v.1.5.9</li>
                    </ul>
                </p>                
            </div>
        </div>
    </div>
</div>